html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.006rem;
  max-width: 100%;
  overflow-x: hidden;
}

/* ::selection { */
  /* background: #ffb7b7;  */
  /* background: #666666; */
  /* color: #ffffff; */
/* } */

/* ::-moz-selection {
  background: #ffb7b7;  
   background: #666666;
} */

h1, h2, h3, h4, h5, h6, p, a, blockquote, li {
  /* font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Untitled Sans", "Inter", -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  /* line-height: 1.1; */
  margin-top: 0;
  /* color: #333333; */
  color: #111;
  /* letter-spacing: -0.008em; */
}

p {
  /* line-height: 1.5; */
  font-size: 16px;
  font-weight: 400;
  /* letter-spacing: -0.2px; */
  line-height: 1.6;

  /* color: rgba(0,0,0,0.6); */
  color: #333333;
  /* color: #666; */
}

strong {
  font-weight: 500;
  color: #111111; 
}

.grey {
  /* color: #b8b8b8;  */
  /* font-weight: 300;
  transition: 0.2s;
  border: none;
  border-radius: 8px;
  letter-spacing: -0.3px; */
  text-decoration: none; 
}

.scroll-link {
  line-height: 1.68;
  font-weight: 300;
  transition: 0.2s;
  border: none;
  padding: 0rem 0.5rem;
  border-radius: 8px;
  letter-spacing: -0.3px;
  text-decoration: none;  
  width: auto;
  color: #b8b8b8;
}


.scroll-link:hover {
  cursor: pointer;  
  /* color: #666666; */
  /* background-color: #f5f5f5; */
  /* border-bottom: solid 1px #666666; */
  text-decoration: underline;
}


.is-current .scroll-link{
  color: #333333;
  font-weight: 500;
}


button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.arrow {
	width: 1.2vmin;
	height: 1.2vmin;
	box-sizing: border-box;
	position: absolute;
  left: 26rem;
  /* left: 76%; */
	top: 47.8rem;
  /* transform: rotate(135deg); */
  animation: slide1 1s ease-in-out infinite;
  transform: rotate(135deg);
}
	.arrow::before {
		content: '';
		width: 100%;
		height: 100%;
    border-width: .2vmin .2vmin 0 0;
    /* border-width: 1px 1px 0 0; */
		border-style: solid;
    /* border-color: #fafafa; */
    border-color: #4353ff;
    border-color: #888888;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	.arrow:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
    border-width: 0 .2vmin 0 0;
    /* border-width: 0 1px 0 0; */
		border-style: solid;
    border-color: #4353ff;
    border-color: #888888;
		transform-origin: 100% 0;
		transition: .2s ease;
	}
	
	.arrow:hover::after {
		transform: rotate(45deg);
		border-color :#47C3A0;
    height: 120%;
    cursor: pointer;
	}
	.arrow:hover::before {
		border-color: #47C3A0;
    transform: scale(.8);  
    cursor: pointer;
		
  }
  
  @keyframes slide1 {
    0%,
    100% {
      transform: rotate(135deg) translate(4px, 0);
    }
  
    50% {
      transform: rotate(135deg) translate(0, 4px);
    }
  }


.blinking{
  animation:blinkingText 1.2s infinite;
}

  @keyframes blinkingText{
      0%{     color: #333333;    }
      49%{    color: #333333; }
      60%{    color: transparent; }
      99%{    color:transparent;  }
      100%{   color: #333333;    }
  }
  
/* @keyframes blinkingText{
  0%{     color: #888;    }
  49%{    color: #888; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #888;    }
}
 */


 .activeLink {
  pointer-events: none;
  
 }